section.mapbox
  #map
    script.
      var callMap = !{JSON.stringify(section.map)};
      $(function() { new ten20.MapRender('map', callMap); });

    .call-to-action
      h1= section.text[0]
      h2= section.text[1]
      a.button(href="/" + section.button.link)= section.button.text
      span= section.text[2]
    img.banner(src="/images/" + section.banner)
