mixin mediaSelect(item, index)
  - if (section.media == "image") {
    img(src="/images/" + item.image)
  - } else {
    .carousel-map(id='carousel-map' + index)
    script.
      $(function() { 
        var $map = $('#carousel-map' + '#{index}');
        $map.parent('.carousel').css('visibility', 'hidden');
        // currently disable for later debug
        //$map.parent('.item').addClass('show');
        var mapObject = (new ten20.MapRender('carousel-map' + '#{index}', !{JSON.stringify(item.map)})).getMapObject();
        ten20.carouselMaps(mapObject);
      });
  - }
    h1.carousel-caption= item.title
    p= item.text

section.carousel-view
  .container
    h4= section.title
    #feature-slide.carousel.slide
      ol.carousel-indicators
        li.active(data-target="#feature-slide",data-slide-to="0")
        li(data-target="#feature-slide",data-slide-to="1")
        li(data-target="#feature-slide",data-slide-to="2")

      // Carousel items
      .carousel-inner
        each item, index in section.items
          - if (index == 0) {
            .item.active
              mixin mediaSelect(item, index)
          - } else {
            .item
              mixin mediaSelect(item, index)
          - }

      // Carousel nav
      a.carousel-control.left(href="#feature-slide", data-slide="prev")
        img(src="/images/left-arrow.png")
      a.carousel-control.right(href="#feature-slide", data-slide="next")
        img(src="/images/right-arrow.png")
