section.key-features
  .container
    .row-fluid
      .span8
        h2= section.title
        each item, index in section.items
          .feature-item
            - if (item.title.length == 2) {
              h3= item.title[0]
                span= item.title[1]
            - } else {
              h3= item.title
            - }

              .featuremap(id='featuremap' + index)
                script.
                  var map = !{JSON.stringify(section.map)};
                  $(function() { new ten20.MapRender('featuremap' + '#{index}', map); });

              p= item.text
