section.key-features
  .container
    .row-fluid
      .span8
        h2= section.title
        each item, index in section.items
          .feature-item
            - if (item.title.length == 2) {
              h3= item.title[0]
                span= item.title[1]
            - } else {
              h3= item.title
            - }

              .featuremap(id='featuremap' + index)
                script(type="text/javascript")
                  $(function() {
                    new ten20.MapRender('featuremap' + '#{index}', {
                      lat: 51.74,
                        lng: -4.55,
                          zoomLevel: 12,
                            numberOfTrackers: 1,
                            showHistory: true,
                            followFirstTracker:true,
                            addVirtualFence:true,
                            tile: 'alexbirkett.map-bugector'
                        });
                    });

              p= item.text
