mixin itemInfo(item)
  .head
    h3
      a(href=item.url)= item.name
      h5
        span.dollar $
        if item.price == '0'
          span.price= item.price
        else
          span.price= item.price
          span.postfix /mo
  ul
    each feature in item.features
      li
        p= feature


section.pricing(id=section.name)
  .container
    .row-fluid
      h4= section.title
    .row-fluid
      each item in section.items
        - if (item.highlighted) {
          .span4.highlight
            h3 most popular
            mixin itemInfo(item)
        - } else {
          .span4
            mixin itemInfo(item)
        - }

