section.mapbox
  #map(home-map map-data="masterMap")
    .call-to-action
      h1= master.title
      h2= master.subTitle
      a.button(model-form src-model="form.signup.data"
        tpl-url="{{form.signup.tplUrl}}"
        method="{{form.signup.method}}"
        path="{{form.signup.path}}"
        redirect="{{form.signup.redirect}}"
        dialog-class="{{form.signup.class}}")= master.buttonText

    img.banner(src="/images/banner.png")