section.mapbox
  #map(home-map map-data="masterMap")
    .call-to-action
      h1= master.title
      h2= master.subTitle
      a.button(model-form src-model="form.contact.data"
        tpl-url="{{form.contact.tplUrl}}"
        method="{{form.contact.method}}"
        path="{{form.contact.path}}"
        redirect="{{form.contact.redirect}}"
        dialog-class="{{form.contact.class}}")= master.buttonText

    img.banner(src="/images/banner.png")
