head
  meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  title= head.title
  meta(name='description', content=head.metaDescription)
  meta(name='keywords', content=head.metaKeywords)
  link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/components/leaflet-dist/leaflet.css')
  link(rel='stylesheet', href='/components/ng-grid/ng-grid.min.css')
  link(rel='stylesheet', href='/components/angular-bootstrap-colorpicker/css/colorpicker.css')
  link(rel='stylesheet', href='/components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
  // if lte IE 8
    link(rel='stylesheet', href='https://dnv9my2eseobd.cloudfront.net/mapbox.js/v1.6.0/mapbox.ie.css')
  script(src='/components/css3-query/css3-mediaqueries.js')
  // if lt IE 9
    script(src='/components/html5shiv/dist/html5shiv.js')
  script(src='/components/jquery/jquery.min.js')
  script(src='/components/hammerjs/hammer.min.js')
  script(src='/components/jcarousel/dist/jquery.jcarousel.min.js')
  script(src='/components/drag-plugin/index.js')
  script(src='/components/momentjs/min/moment.min.js')
  script(src='/components/leaflet-dist/leaflet.js')
  script(src='/components/bootstrap/dist/js/bootstrap.min.js')
  script(src='/components/angular/angular.min.js')
  script(src='/components/angular-gestures/gestures.min.js')
  script(src='/components/angular-bootstrap/ui-bootstrap.min.js')
  script(src='/components/angular-bootstrap/ui-bootstrap-tpls.min.js')
  script(src='/components/angular-ui-utils/keypress.min.js')
  script(src='/components/ng-grid/ng-grid-2.0.7.min.js')
  script(src='/components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js')
  script(src='/components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')

  <!-- @if production=false -->
  link(rel='stylesheet', href='/styles/home.css')
  link(rel='stylesheet', href='/styles/admin.css')
  link(rel='stylesheet', href='/styles/user.css')
  script(src='/scripts/map.js')
  script(src='/scripts/main.js')
  script(src='/scripts/angular/app.js')
  script(src='/scripts/angular/services.js')
  script(src='/scripts/angular/controllers/admin.js')
  script(src='/scripts/angular/controllers/root.js')
  script(src='/scripts/angular/controllers/home.js')
  script(src='/scripts/angular/controllers/partner.js')
  script(src='/scripts/angular/controllers/user.js')
  script(src='/scripts/angular/directives/userMap.js')
  script(src='/scripts/angular/directives/homeMap.js')
  script(src='/scripts/angular/directives/modalForm.js')
  script(src='/scripts/angular/directives/googleAds.js')
  script(src='/scripts/angular/filters.js')
  <!-- @endif -->


  <!-- @if production=true -->
  link(rel='stylesheet', href='/build/all.min.css')
  script(src='/build/home.min.js')
  script(src='/build/angular-all.min.js')
  <!-- @endif -->

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41815798-1', 'ten20live.com');
    ga('send', 'pageview');
