header.visible-xs
  .container
    .navbar
      .row
        .col-md-12
          a.logo(href="/")
            img(src="/images/logo.png")
          button.btn.btn-default.navbar-btn(data-toggle="collapse",
          data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .navbar-collapse.collapse
            ul.nav.menu
              li(ng-repeat="n in navs", ng-hide="n.hidden", ng-switch="n.id")
                a.menu(ng-switch-when="signin",model-form,
                  src-model="form.signin.data",tpl-url="{{form.signin.tplUrl}}",
                  path="{{form.signin.path}}",dialog-class="{{form.signin.class}}",
                  method="{{form.signin.method}}",redirect="{{form.signin.redirect}}",
                  ng-bind="n.text")
                a.menu(ng-switch-when="contact", model-form,
                  src-model="form.contact.data",tpl-url="{{form.contact.tplUrl}}",
                  path="{{form.contact.path}}",dialog-class="{{form.contact.class}}",
                  method="{{form.signin.method}}",redirect="{{form.contact.redirect}}",
                  ng-bind="n.text")
                a.menu(ng-switch-default, ng-href="{{n.link}}", scroll="{{n.scroll}}",
                  ng-bind="n.text")
          .clear
