header.visible-xs
  include cookie
  .container
    .navbar
      .row
        .col-md-12
          button.btn.btn-default.navbar-btn(type="button", data-toggle="collapse", data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.logo(href="/")
            img(src="/images/" + section.logo)
          .navbar-collapse.collapse
            ul.nav.menu
              each nav in section.navLinks
                li
                  - if (nav.modal) {
                    a(class="menu", model-form,
                      src-model="form." + nav.id + ".data",
                      tpl-url="{{form." + nav.id + ".tplUrl}}",
                      method="{{form." + nav.id + ".method}}",
                      path="{{form." + nav.id + ".path}}",
                      redirect="{{form." + nav.id + ".redirect}}",
                      dialog-class="{{form." + nav.id + ".class}}"
                      )= nav.text
                  - } else {
                    a(href=nav.link, class="menu", scroll=nav.scroll)= nav.text
                  - }
          .clear
