header.visible-xs
  .container
    .navbar
      .row
        .col-md-12
          a.logo(href="/")
            img(src="/images/logo.png")
          button.btn.btn-default.navbar-btn(data-toggle="collapse",
          data-target=".navbar-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .navbar-collapse.collapse
            ul.nav.menu
              each n in navs
                li(ng-hide=n.hidden)
                  if n.modal
                    a.menu(model-form,src-model="form." + n.id + ".data",
                      tpl-url="{{form." + n.id + ".tplUrl}}",path="{{form." + n.id + ".path}}",
                      dialog-class="{{form." + n.id + ".class}}",method="{{form." + n.id + ".method}}",
                      redirect="{{form." + n.id + ".redirect}}")= n.text
                  else
                    a.menu(href=n.link, scroll=n.scroll)= n.text
          .clear
