mixin itemInfo(item)
  .head
    h3= item.name
    h5
      span.dollar $
      if item.price == '0'
        span.price= item.price
      else
        span.price= item.price
        span.postfix /mo
    a(model-form, src-model="form.signup.data." + item.id,
      tpl-url="{{form.signup.tplUrl}}", method="{{form.signup.method}}",
      path="{{form.signup.path}}", dialog-class="small", redirect="/console") sign up

  ul
    each feature in item.features
      li
        p= feature


section.pricing(id=section.name)
  .container
    .row
      h4= section.title
    .row
      each item in section.items
        - if (item.highlighted) {
          .col-md-4.highlight
            h3 most popular
            mixin itemInfo(item)
        - } else {
          .col-md-4
            mixin itemInfo(item)
        - }

