extends layout-angular

block content
  section.map-canvas(ng-controller='UserCtrl')
    #map
      //
        .trip-info.current-info
          h5 trip information 
            img(src=page.images.infoSmall)
          each item in page.currentInfo
            h6 #{item.name}
              span(ng-bind='activeTracker.current.' + item.propName)

        .status-bar
          img(src=page.images.point)
          | E:
          span.elevation(ng-bind='activeTracker.current.elevation')
          | S:
          span.speed(ng-bind='activeTracker.current.speed')

      .tool-box
        .time-weather
          span(ng-bind='timeWeather')
          a.info
            img(src=page.images.info)

        .welcome
          img.logo(src=page.images.logo)
          span.info welcome
          span(ng-bind='user.name')


        ul.tracker-list
          li(ng-repeat='tracker in trackers')
            .tracker-header(ng-click='setActiveTracker($index)')
              span.first tracker
              span(ng-bind='tracker.serialNum')
              span.dropdown
            .tracker-content(ng-class='trackers[$index].activeTab')
              ul.tabs
                li.tracker-info(ng-click='hideHistoryTrip()')
                    img(src=page.images.infoWhiter)
                    | tracker info

                li.tracker-history(ng-click='showHistoryTrip(0)')
                    img(src=page.images.clockSmall)
                    | trip history

              .tracker-bottom
                img(src=page.images.setting)(ng-click='setUp')
              //
                a.street-view(ng-click='streetView')
                  img(src=page.images.streetView)
                  | street view
                a.latest-trail(ng-click='lastestTail')
                  img(src=page.images.trail)
                  | latest trail

              .tabs-content
                .info-tab
                  .media
                    img.pull-left.avatar(src=page.images.avatar)
                    .media-body
                      h6(ng-bind='tracker.location.city')
                      h6(ng-bind='tracker.location.date')
                      h6(ng-bind='tracker.location.time')
                      h6(ng-bind='tracker.location.weather')
                  .current-info
                    each item in page.currentInfo
                      h6 #{item.name}:
                        span(ng-bind='tracker.current[#{JSON.stringify(item.propName)}]')

                .history-tab
                  .date-select
                    .media
                      img.pull-left(src=page.images.clock)
                      .media-body
                        h6(ng-bind='tracker.history.date')
                        input.history-date(ui-date, ui-date-format="DD, d MM, yy", type='text', ng-model="tracker.history.date")
                    .search
                      img(src=page.images.search)
                      input(type='text', placeholder='Search date or place')
                    
                    ul.trip-list
                      li(ng-repeat='item in tracker.history.data', ng-click='updateHistoryTrip($index)', ng-class='{active : isHistoryItemSelected($index)}')
                        span time:
                        span.timeslot(ng-bind='item.time')
                        img(src=page.images.infoSmall)


      ul.bottom-nav
        each item in page.navs
          li(class=item.status)
            span +
            a(href=item.link)= item.name

    script.
      $(function() {
        $('.tool-box').draggable();
        $('.trip-info').draggable();

        // trackers list pane
        $('.tracker-list').on('click', '.tracker-header', function() {

          if (!$(this).parent().hasClass('active')) {
            var activeTracker = $('.tracker-list > .active').children('.tracker-content');

            $('.tracker-list > .active').removeClass('active');

            if ($(window).height() > 800) {
              activeTracker.slideToggle();
            } else {
              activeTracker.hide();
            }
          }

          $(this).parent().toggleClass('active');

          if ($(window).height() > 800) {
            $(this).next().slideToggle();
          } else {
            $(this).next().animate({width: 'toggle'});
          }
        });

        $('.tracker-list').on('focusTracker', function(e, index) {
          var $tracker = $(this).find('.tracker-header').eq(index);

          // if not the active tracker, then switch to active
          if (!$tracker.parent().hasClass('active')) {
            $tracker.click();
          }
        });

      });
