extends layout-angular

block content
  section.map-canvas
    #map
      script.
        var map = !{JSON.stringify(map)};
        $(function() { new ten20.MapRender('map', map); });

    .tool-box(ng-controller='UserCtrl')
      .time-weather
        span {{user.timeWeather}}
        a.info
          img(src=page.images.info)

      .welcome
        img.logo(src=page.images.logo)
        span welcome {{user.first_name}}

      .calendar(ui-calendar="calendarOptions", ng-model="eventSources", calendar="myCalendar")

      .trip-info.current-info
        each item in page.currentInfo
          h6 #{item.name} {{#{item.propName}}}

      .status-bar
        img(src=page.images.point)
        span.elevation e {{ elevation }}
        span.speed s {{ speed }}

      ul.tracker-list()
        li(ng-repeat='tracker in user.trackers')
          .tracker-header(ng-click='toggleDropDown')
            span tracker {{tracker.index}}
            img.dropdown(src=page.images.rightArrow)
          .tracker-content(class="{{tracker.status}}")
            ul.nav-tabs
              li.tracker-info.active
                a(href="#tab-tracker-info", data-toggle="tab")
                  img(src=page.images.trackerInfo)
                  | tracker info

              li.trip-history
                a(href="#tab-trip-history", data-toggle="tab")
                  img(src=page.images.clockSmall)
                  | trip history

            .tab-content
              .tab-pane.active(id="tab-tracker-info")
                .media
                  img.pull-left.avatar(src=page.images.avatar)
                  .media-body
                    h6 {{tracker.location.city}}
                    h6 {{tracker.location.date}}
                    h6 {{tracker.location.time}}
                    h6 {{tracker.location.weather}}
                .current-info
                  each item in page.currentInfo
                    h6 #{item.name}:
                      span {{tracker.current['#{item.propName}']}}

              .tab-pane(id="tab-trip-history")
                .date-select
                  .media
                    img.pull-left(src=page.images.clock)
                    .media-body
                      h1 {{tracker.history.date}}
                  .search
                    img(src=page.images.search)
                    input(type='text', placeholder='Search date or place')
                  
                  ul.trip-list
                    li(ng-repeat='item in tracker.history.data', ng-click='toggleTripInfo')
                      span time {{item.time}} 
                      span 
                        img(src=page.images.infoSmall)

            .tracker-bottom
              a.street-view
                img(src=page.images.streetView)
                | street view
              a.latest-trail
                img(src=page.images.trail)
                | latest trail
              img(src=page.images.setting)

    ul.bottom-nav
      each item in page.navs
        li(class=item.status)
          span +
          a(href=item.link)= item.name

